<launch>

  <node pkg="pekf_slam" type="laser_to_pc.py" name="laser_to_pc" output="screen" >
    <rosparam command="load" file="$(find pekf_slam)/config/config.yaml" />
  </node>

  <node pkg="pekf_slam" type="pekf_slam" name="pekf_slam" output="screen" >
    <rosparam command="load" file="$(find pekf_slam)/config/config.yaml" />
  </node>

</launch>

